[package]
name = "starknet-validator-attestation"
version = "0.4.0"
edition = "2024"

[dependencies]
anyhow = "1.0.98"
async-trait = "0.1.88"
axum = "0.8.4"
clap = { version = "4.5.39", features = ["derive", "env"] }
metrics = "0.24.2"
metrics-exporter-prometheus = "0.17.0"
reqwest = { version = "0.12.19", default-features = false, features = [
    "json",
    "rustls-tls",
] }
rustls = "0.23.28"
serde = "1.0.219"
serde_json = "1.0.140"
starknet = "0.15.1"
starknet-crypto = "0.7.4"
starknet-tokio-tungstenite = "0.1.2"
thiserror = "2.0.12"
tokio = { version = "1.45.1", features = ["full"] }
tracing = "0.1.41"
tracing-subscriber = { version = "0.3.19", features = ["env-filter", "json"] }
url = "2.5.4"

[dev-dependencies]
assert_matches = "1.5.0"
